body {
    background-image: url(../img/DisastersAvoided.png);
    background-size: 197px 82.4px;
    width: 197px;
    height: 82.4px;
    background-repeat: no-repeat;
    overflow: none;
}
#up {
    border: none;
    background: none;
    color: red;
    font-size: 3em;
    font-family: "icoct", helvetica;
    float: right;
}
#reset {
    border: none;
    background: none;
    color: red;
    font-size: .5em;
    font-family: "icoct", helvetica;
    position: fixed;
    bottom: 5px;
    left: 0px;
}